#folders
.idea
bin
target

#project files
*.iml

#compile object files
*.o
*.obj
*.class
target
distribution


#distrubition
/src/main/resources/smartx.conf
/src/main/resources/log4j.xml
/src/main/java/com/smartx/api/v1/server/impl
/MyWallet
/conf
/wallet.data

#log
*.log
log
logs
database

#local db
*.sh
*.db
