<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true" threshold="null">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d\t%X{userName}\t%-5p\t[%t]\t%m%n"/>
		</layout>
	</appender>
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="INFO"/>
		<param name="File" value="logs/smartx.log"/>
		<param name="DatePattern" value=".yyyyMMdd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d\t%-5p\t[%t]\t%m%n"/>	
		</layout>
	</appender>
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE"/>
		<appender-ref ref="CONSOLE"/>
	</appender>
    <root>
		<appender-ref ref="ASYNC"/>
    </root>

</log4j:configuration>
