
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 该配置影响的所有映射器中配置的缓存的全局开关。默认true -->
		<setting name="cacheEnabled" value="false" />
		<!-- MyBatis 利用本地缓存机制（Local Cache）防止循环引用（circular references）和加速重复嵌套查询。
			默认值为 SESSION，这种情况下会缓存一个会话中执行的所有查询。 若设置值为 STATEMENT，本地会话仅用在语句执行上，对相同 SqlSession
			的不同调用将不会共享数据。 -->
		<setting name="localCacheScope" value="STATEMENT" />
		<!-- 当没有为参数提供特定的 JDBC 类型时，为空值指定 JDBC 类型。 某些驱动需要指定列的 JDBC 类型，多数情况直接用一般类型即可，比如
			NULL、VARCHAR 或 OTHER。 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<!-- MyBatis内置的日志工厂提供日志功能，具体的日志实现有以下几种工具 SLF4J Apache Commons Logging Log4j
			2 Log4j JDK logging 在诸如 WebSphere的环境中——WebSphere提供了Commons Logging的私有实现，你的Log4J配置将被忽略。
			因Commons Logging已经存 在了，按照优先级顺序，Log4J自然就被忽略了 如果你的应用部署在一个包含Commons Logging的环境，
			而你又想用其他的日志框架， 你可以通过在MyBatis的配置文件MyBatis-config.xml里面添加一项setting（配置）来选择一个不同的日志实现。
			可选值：SLF4J、LOG4J、LOG4J2、JDK_LOGGING、COMMONS_LOGGING、STDOUT_LOGGING、NO_LOGGING -->
		<setting name="logImpl" value="LOG4J2" />
	</settings>
	<environments default="environment">
		<environment id="environment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="poolMaximumActiveConnections" value="300" />
				<property name="poolMaximumIdleConnections" value="0" />
				<property name="poolMaximumCheckoutTime" value="20000" />
				<property name="poolTimeToWait" value="20000" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingConnectionsNotUsedFor" value="3600000" />
				<!-- 发送到数据库的侦测查询，用来检验连接是否处在正常工作秩序中并准备接受请求。默认是“NO PING QUERY SET”，这会导致多数数据库驱动失败时带有一个恰当的错误消息。 -->
				<property name="poolPingQuery" value="select 1" />
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
						  value="jdbc:mysql://127.0.0.1:3306/smartx_db?characterEncoding =UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers> <mapper resource="mybatis/User.xml"/></mappers>
</configuration>
